body{
   width: 100vw;
   height: 100vh;
   background: white;
   display: flex;
   position: relative;
   align-items: center;
   justify-content: center;
  }
  .container{
   background: transparent;
  }
  button{
   padding: 10px 10px;
   border: 1px solid gray;
   border-radius: 20px;
  }